<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>全服邮件--迷你地下城</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="灵猫传 经营分析系统."
          name="description"/>
    <meta content="" name="author"/>
    <link rel="shortcut icon" th:href="@{favicon.ico}">
    <!-- ========================================================================= -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <!-- ========================================================================= -->
    <!-- ========================================================================= -->
    <link  th:href="@{/vendor/material-icons/material-icons.css}" rel="stylesheet">
    <!-- ========================================================================= -->
    <link th:href="@{/vendor/flags/css/flag-icon.min.css}"  rel="stylesheet">
    <!-- ========================================================================= -->
    <link th:href="@{/vendor/daterangepicker-master/daterangepicker.css}" rel="stylesheet">
    <!-- ========================================================================= -->
    <link th:href="@{/vendor/jquery-jvectormap/jquery-jvectormap-2.0.3.css}" rel="stylesheet">
    <!-- ========================================================================= -->
    <link th:href="@{/vendor/DataTables-1.10.18/css/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <!-- ========================================================================= -->
    <link th:href="@{/vendor/DataTables-1.10.18/css/responsive.dataTables.min.css}" rel="stylesheet">
    <!-- ========================================================================= -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" id="stylelink2">
    <!-- ========================================================================= -->
    <link th:href="@{/css/style-darkblue-dark.css}" rel="stylesheet" id="stylelink">
    <!-- ========================================================================= -->
</head>
<body class="sidemenu-open header-fixed-top">
<div th:replace="~{common/public_main::loader}"></div>

<!-- 左侧菜单栏 -->
<div th:replace="~{common/public_main::sidebar(isSelectParent='util',isSelect='sendServerMail')}"></div>

<!-- 顶部+内容 -->
<div class="wrapper">
    <div class="content shadow-sm">
        <div th:replace="~{common/public_main::heard}"></div>
        <!-- 内容  -->
        <div class="container main-container" id="main-container">
            <!--1.基础-->
            <form>
                <div class="row">
                    <!--环境选择-->
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-primary float-right" disabled="disabled">环境选择</button>
                                </div>
                                <select class="form-control" name="environmentId" id="environmentId">
                                    <option VALUE="114">内网开发环境</option>
                                    <option VALUE="58">外网测试环境</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-primary float-right" disabled="disabled">区服</button>
                                </div>
                                <select class="form-control" name="region" id="region">
                                    <option VALUE="1">峡谷之巅</option>
                                    <option VALUE="2">艾欧尼亚</option>
                                    <option VALUE="3">黑色玫瑰</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--邮件标题-->
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-primary float-right" disabled="disabled">邮件标题</button>
                                </div>
                                <input type="text" class="form-control" id="emailTitle" name="emailTitle" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9 col-md-9 col-lg-9">
                        <div class="page-subtitle">邮件内容:</div>
                        <div class="form-group">
                            <!--<input type="text" class="form-control" id="emailDesc" name="emailDesc">-->
                            <textarea class="form-control" rows="4" id="emailDesc" name="emailDesc"></textarea>
                        </div>

                        <div class="page-subtitle">道具列表:</div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="itemList" name="itemList" placeholder="itemID|itemNum;">
                            <!--<textarea class="form-control" rows="4" id="itemList" name="itemList" placeholder="itemID|itemNum;"></textarea>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="page-subtitle">生效时间:</div>
                        <div class="input-group">
                            <input name="sendTime"  th:id="sendTime" type="datetime-local" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text form-control ">-- --</span>
                            </div>
                            <input name="endTime" th:id="endTime" th:onchange="checkExpirationDate()"  type="datetime-local" class="form-control ">
                            <!--点击发送-->
                            <div class="col-lg-3 col-md-3">
                                <div class="form-group ">
                                    <div class="input-group">
                                        <button type="button" th:id="sendSubmit" th:name="sendSubmit" class="btn btn-danger float-right">点击发送</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md text-center text-md-left align-self-center">
                    <p><a href="http://www.gdreamart.com/" target="_blank">迷你地下城官网</a></p>
                </div>
                <div class="col-12 col-md-auto text-center text-md-right">
                    <ul class="nav justify-content-center justify-md-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">版权所有@2018--2098游梦初心文化网络有限公司</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

<!--QQ-->
<div th:replace="~{common/public_main::qq}"></div>
<!-- Setting -->
<div th:replace="~{common/public_main::setting}"></div>
<!-- Modal -->
<div th:replace="~{common/public_main::modal}"></div>
<div th:replace="~{common/public_main::warningModal(modalId='startDateModal',text='开始日期不能早于2020-01-01')}"></div>
<div th:replace="~{common/public_main::warningModal(modalId='expirationDateModal',text='结束日期不能早于开始日期！')}"></div>
<div th:replace="~{common/public_main::warningModal(modalId='successResult',text='发送成功!')}"></div>
<div th:replace="~{common/public_main::warningModal(modalId='errorResult',text='发送失败,请稍后重试！')}"></div>

<!-- ========================================================================= -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/js/popper.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/cookie/jquery.cookie.js}"></script>
<!-- ========================================================================= -->
<!-- ========================================================================= -->
<script th:src="@{/vendor/daterangepicker-master/moment.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/daterangepicker-master/daterangepicker.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/chartjs/Chart.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/chartjs/utils.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/sparklines/jquery.sparkline.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/gauge-chart/gauge.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/DataTables-1.10.18/js/jquery.dataTables.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/DataTables-1.10.18/js/dataTables.responsive.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/DataTables-1.10.18/js/dataTables.bootstrap4.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/jquery-jvectormap/jquery-jvectormap.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/jquery-jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/js/main.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/js/style-picker.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/js/networking-dashboard.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/custom/js/formatTime.js}"></script>
<!-- ========================================================================= -->
<script type="application/javascript">
    $('#sendSubmit').click(function (e) {
        //1.获取环境
        var environmentId = document.getElementById("environmentId");
        var index = environmentId.selectedIndex;
        environmentId = environmentId.options[index].value;
        //2.获取区服
        var region = document.getElementById("region");
        var index = region.selectedIndex;
        region = region.options[index].value;
        //3.获取邮件标题
        var emailTitle = document.getElementById("emailTitle").value;
        //4.获取邮件内容
        var emailDesc = document.getElementById("emailDesc").value;
        //5.获取道具列表
        var itemList = document.getElementById("itemList").value;
        //6.生效起始时间
        var sendTime = document.getElementById("sendTime").value;
        //7.生效结束时间
        var endTime = document.getElementById("endTime").value;
        $.ajax({
            type: "post",
            url: '/util/sendServerMail',
            dataType: 'json',
            data: {
                environmentId: environmentId,
                region: region,
                emailTitle: emailTitle,
                emailDesc: emailDesc,
                itemList: itemList,
                sendTime: sendTime,
                endTime: endTime
            },
            success: function (data) {
                console.log("===success===");
                console.log(data);
                if(data === 0){
                    $('#successResult').modal('show');
                }else{
                    $('#errorResult').modal('show');
                    console.log(data);
                }
            },error:function(data){
                console.log("===error===");
                console.log(data);
                if(data === 0){
                    $('#successResult').modal('show');
                }else{
                    $('#errorResult').modal('show');
                    console.log(data);
                }
            }
        });
    });
</script>
</body>



</html>
