<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>个人邮件--迷你地下城</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="灵猫传 经营分析系统."
          name="description"/>
    <meta content="" name="author"/>
    <link rel="shortcut icon" th:href="@{favicon.ico}">
    <!-- ========================================================================= -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <!-- ========================================================================= -->
    <!-- ========================================================================= -->
    <link  th:href="@{/vendor/material-icons/material-icons.css}" rel="stylesheet">
    <!-- ========================================================================= -->
    <link th:href="@{/vendor/flags/css/flag-icon.min.css}"  rel="stylesheet">
    <!-- ========================================================================= -->
    <link th:href="@{/vendor/daterangepicker-master/daterangepicker.css}" rel="stylesheet">
    <!-- ========================================================================= -->
    <link th:href="@{/vendor/jquery-jvectormap/jquery-jvectormap-2.0.3.css}" rel="stylesheet">
    <!-- ========================================================================= -->
    <link th:href="@{/vendor/DataTables-1.10.18/css/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <!-- ========================================================================= -->
    <link th:href="@{/vendor/DataTables-1.10.18/css/responsive.dataTables.min.css}" rel="stylesheet">
    <!-- ========================================================================= -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" id="stylelink2">
    <!-- ========================================================================= -->
    <link th:href="@{/css/style-darkblue-dark.css}" rel="stylesheet" id="stylelink">
    <!-- ========================================================================= -->
</head>
<body class="sidemenu-open header-fixed-top">
<div th:replace="~{common/public_main::loader}"></div>

<!-- 左侧菜单栏 -->
<div th:replace="~{common/public_main::sidebar(isSelectParent='util',isSelect='sendMail')}"></div>

<!-- 顶部+内容 -->
<div class="wrapper">
    <div class="content shadow-sm">
        <div th:replace="~{common/public_main::heard}"></div>
        <!-- 内容  -->
        <div class="container main-container" id="main-container">
            <!--1.基础-->
            <form method="post" action="/util/sendMail">
                <div class="row">
                    <!--环境选择-->
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-primary float-right" disabled="disabled">环境选择</button>
                                </div>
                                <select class="form-control" name="environmentId" id="environmentId">
                                    <option VALUE="114">开发环境</option>
                                    <option VALUE="114">测试环境</option>
                                    <option VALUE="114">预发布环境</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--邮件标题-->
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-primary float-right" disabled="disabled">邮件标题</button>
                                </div>
                                <input type="text" class="form-control" id="emailTitle" name="emailTitle" >
                            </div>
                        </div>
                    </div>
                    <!--道具列表-->
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-primary float-right" disabled="disabled">道具列表</button>
                                </div>
                                <input type="text" class="form-control"  id="itemList" name="itemList" placeholder="itemID|itemNum;" >
                            </div>
                        </div>
                    </div>
                    <!--点击发送-->
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group ">
                            <div class="input-group">
                                <button type="submit"  class="btn btn-danger float-right">点击发送</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="page-subtitle">用户列表:</div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="userList" name="userList" placeholder="uin|iZoneID;">
                        </div>

                        <div class="page-subtitle">邮件内容:</div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="emailDesc" name="emailDesc" placeholder="">
                        </div>
                    </div>
                </div>
            </form>

            <!--2.发送成功列表-->
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="card border-0 shadow-sm overflow-hidden mb-4">
                        <div class="card-header border-0 bg-none">
                            <div class="row">
                                <div class="col-12 col-md">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-info float-right" disabled="disabled">发送成功列表</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                          <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Uin</th>
                                    <th>OSType</th>
                                    <th>ZoneID</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="key:${successData}">
                                    <td th:text="${key.uuin}"></td>
                                    <td th:text="${key.sopenID}"></td>
                                    <td th:text="${key.izoneId}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--3.发送失败列表-->
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="card border-0 shadow-sm overflow-hidden mb-4">
                        <div class="card-header border-0 bg-none">
                            <div class="row">
                                <div class="col-12 col-md">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-danger float-right" disabled="disabled">发送失败列表</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                           <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Uin</th>
                                    <th>OSType</th>
                                    <th>ZoneID</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="key:${errorData}">
                                    <td th:text="${key.uuin}"></td>
                                    <td th:text="${key.sopenID}"></td>
                                    <td th:text="${key.izoneId}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md text-center text-md-left align-self-center">
                    <p><a href="http://www.gdreamart.com/" target="_blank">迷你地下城官网</a></p>
                </div>
                <div class="col-12 col-md-auto text-center text-md-right">
                    <ul class="nav justify-content-center justify-md-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">版权所有@2018--2098游梦初心文化网络有限公司</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

<!--QQ-->
<div th:replace="~{common/public_main::qq}"></div>
<!-- Setting -->
<div th:replace="~{common/public_main::setting}"></div>
<!-- Modal -->
<div th:replace="~{common/public_main::modal}"></div>
<div th:replace="~{common/public_main::warningModal(modalId='startDateModal',text='开始日期不能早于2020-01-01')}"></div>
<div th:replace="~{common/public_main::warningModal(modalId='expirationDateModal',text='结束日期不能早于开始日期！')}"></div>
<div th:replace="~{common/public_main::warningModal(modalId='noDateModal',text='所选日期暂无数据！')}"></div>

<!-- ========================================================================= -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/js/popper.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/cookie/jquery.cookie.js}"></script>
<!-- ========================================================================= -->
<!-- ========================================================================= -->
<script th:src="@{/vendor/daterangepicker-master/moment.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/daterangepicker-master/daterangepicker.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/chartjs/Chart.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/chartjs/utils.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/sparklines/jquery.sparkline.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/gauge-chart/gauge.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/DataTables-1.10.18/js/jquery.dataTables.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/DataTables-1.10.18/js/dataTables.responsive.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/DataTables-1.10.18/js/dataTables.bootstrap4.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/jquery-jvectormap/jquery-jvectormap.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/jquery-jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/js/main.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/js/style-picker.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/js/networking-dashboard.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/custom/js/formatDate.js}"></script>
<!-- ========================================================================= -->
</body>



</html>
