<!DOCTYPE html>
<html lang="en">

<!-- Head tag -->

<head>
    <meta charset="utf-8"/>
    <title>AdminUX-PRO | Admin Dashboard HTML Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="Worlds Best Admin UX Dashbaoard PRO version for bootstrap template, Select, Calandar, Report, Charts, Tables etc."
          name="description"/>
    <meta content="" name="author"/>
    <link rel="shortcut icon" href="/img/logoicon.png">

    <!-- g fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <!-- g fonts style ends -->

    <!-- Vendor or 3rd party style -->

    <!-- material icons -->
    <link href="/vendor/material-icons/material-icons.css" rel="stylesheet">
    <!-- flags icons -->
    <link href="/vendor/flags/css/flag-icon.min.css" rel="stylesheet">
    <!-- daterange picker -->
    <link href="/vendor/daterangepicker-master/daterangepicker.css" rel="stylesheet">

    <!-- Vendor or 3rd party style ends -->

    <!-- Customized template style mandatory -->
    <link href="/css/bootstrap.css" rel="stylesheet" id="stylelink2">
    <link href="/css/style-darkblue-dark.css" rel="stylesheet" id="stylelink">
    <!-- Customized template style ends -->
</head>

<!-- Head tag ends -->

<!-- Body -->

<body class="h-100 no-sidemenu">
<div class="loader container-fluid">
    <div class="row h-100">
        <div class="col-auto align-self-center  mx-auto text-center">
            <div class="loader-ripple">
                <div></div>
                <div></div>
            </div>
            <h2>AdminuxPRO</h2>
            <p>HTML Template</p>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="content shadow-sm position-relative">
        <header class="header">
            <!-- Fixed navbar -->
            <nav class="container-fluid">
                <div class="row">
                    <div class="col align-self-center">
                        <a href="" class="logo text-white">
                            <img src="/img/logoicon.svg" alt="" class="logo-icon">
                            <div class="logo-text">
                                <h5 class="fs22 mb-0">AdminUX <sup class="badge badge-danger">PRO</sup></h5>
                                <p class="text-uppercase fs11">Admin Dashboard</p>
                            </div>
                        </a>
                    </div>
                    <div class="col text-right align-self-center">
                        <a href="" class="btn btn-sm btn-primary text-uppercase">Register</a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="background opac">
            <img src="/img/404.jpg" alt="">
        </div>

        <!-- Main container starts -->
        <div class="container main-container" id="main-container">
            <div class="row login-row-height">
                <div class="col-8 col-md-6 col-lg-5 col-xl-4 mx-auto align-self-center text-center">
                    <h1 class="display-0 mb-0">404</h1>
                    <h1 class="font-weight-light mt-0">Page not found!</h1>
                    <p>There might be some issue with Typing or URL</p>
                    <br>
                    <a href="../dashboard-production.html" class="btn btn-outline-light">Go back to Dashboard</a>
                </div>
            </div>
        </div>
        <!-- Main container ends -->
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md text-center text-md-left align-self-center">
                    <p>All rights reserved by <a href="http://www.bootstrapmb.com/">Maxartkiller</a></p>
                </div>
                <div class="col-12 col-md-auto text-center text-md-right">
                    <ul class="nav justify-content-center justify-md-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Terms of use</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Privacy Policy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../contactus.html">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</div>
<!-- wrapper ends -->


<!-- Global js mandatory -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/cookie/jquery.cookie.js"></script>
<!-- Global js ends -->

<!-- Vendor or 3rd party js -->
<!-- date range picker -->
<script src="/vendor/daterangepicker-master/moment.min.js"></script>
<script src="/vendor/daterangepicker-master/daterangepicker.js"></script>
<!-- Vendor or 3rd party js ends -->

<!-- Customized template js mandatory -->
<script src="/js/main.js"></script>
<!-- Customized template js ends -->

<!-- theme picker -->
<script src="/js/style-picker.js"></script>
<!-- theme picker ends -->

<!-- Customized page level js -->
<script>
    'use strict'
    $(document).ready(function () {

    });

</script>
<!-- Customized page level js ends -->
</body>

<!-- Body ends -->

</html>
