<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>会员注册--迷你星域冒险</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="Worlds Best Admin UX Dashbaoard PRO version for bootstrap template, Select, Calandar, Report, Charts, Tables etc."
          name="description"/>
    <meta content="" name="author"/>
    <!-- ========================================================================= -->
    <link rel="shortcut icon" th:href="favicon.ico">
    <!-- ========================================================================= -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <!-- ========================================================================= -->
    <link href="/vendor/material-icons/material-icons.css" rel="stylesheet">
    <!-- ========================================================================= -->
    <link href="/vendor/flags/css/flag-icon.min.css" rel="stylesheet">
    <!-- ========================================================================= -->
    <link href="/vendor/daterangepicker-master/daterangepicker.css" rel="stylesheet">
    <!-- ========================================================================= -->
    <link href="/css/bootstrap.css" rel="stylesheet" id="stylelink2">
    <link href="/css/style-darkblue-dark.css" rel="stylesheet" id="stylelink">
    <!-- ========================================================================= -->
</head>

<body class="h-100 no-sidemenu">
<div th:replace="~{common/public_main::loader}"></div>

<div class="wrapper">
    <div class="content shadow-sm position-relative">
        <header class="header">
            <nav class="container-fluid">
                <div class="row">
                    <div class="col align-self-center">
                        <a href="" class="logo text-white">
                            <img th:src="@{/img/logoicon.svg}" alt="" class="logo-icon">
                            <div class="logo-text">
                                <h5 class="fs22 mb-0">迷你星域冒险</h5>
                                <p class="text-uppercase fs11">MINI-XING-YU-MAO-XIAN</p>
                            </div>
                        </a>
                    </div>
                    <div class="col text-right align-self-center">
                        <a th:href="@{/login}" class="btn btn-sm btn-primary text-uppercase">登录</a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="background opac">
            <img th:src="@{/img/team.jpg}" alt="">
        </div>

        <!-- Main container starts -->
        <div class="container main-container" id="main-container">
            <div class="row login-row-height">
                <div class="col-12 col-md-6 col-lg-7 d-none d-md-flex"></div>
                <div class="col-12 col-md-6 col-lg-5 col-xl-4  align-self-center">
                    <form th:action="@{/regist}" th:id="registForm" th:method="post"
                          class="card border-0 shadow-lg blur">
                        <div class="card-body py-5">
                            <h3 class="font-weight-normal mb-4" style="text-align: center">会员注册</h3>
                            <div class="card  mb-2 overflow-hidden">
                                <div class="card-body p-0">
                                    <label for="inputUserName" class="sr-only">账号</label>
                                    <input type="text" id="inputUserName" th:maxlength="8" name="username"
                                           class="form-control rounded-0 border-0" placeholder="账号" required=""
                                           autofocus="">
                                    <hr class="my-0">
                                    <label for="inputPassword" class="sr-only">密码</label>
                                    <input type="password" th:maxlength="8" name="password" id="inputPassword"
                                           class="form-control rounded-0 border-0" placeholder="密码" required="">
                                </div>
                            </div>
                            <div class="my-3 row">
                                <div class="col-12 col-md  py-1">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1"
                                               checked="">
                                        <label class="custom-control-label" for="customCheck1">同意用户协议</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md py-1 text-left text-md-right">
                                    <a th:href="@{/login}" style="color: white;" class="template-primary">前往登录</a>
                                </div>
                            </div>
                            <div class="text-left mb-4">
                                <button type="button" th:onclick="userRegist()" class=" btn btn-primary btn-block">注册<i
                                        class="material-icons md-18">arrow_forward</i></button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">

            </div>
        </div>
    </footer>
    <div th:replace="~{common/public_main::warningModal(modalId='userNameModal',text='请输入正确的账号！(4~8位字母和数字)')}"></div>
    <div th:replace="~{common/public_main::warningModal(modalId='passWordModal',text='请输入正确的密码！(6~8位字母和数字组合)')}"></div>
    <div th:replace="~{common/public_main::warningModal(modalId='agreeProtocolModal',text='请同意用户协议！')}"></div>
    <div th:replace="~{common/public_main::warningModal(modalId='checkUserName',text='用户名已存在！')}"></div>
</div>
<!-- ========================================================================= -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/js/popper.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/cookie/jquery.cookie.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/daterangepicker-master/moment.min.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/vendor/daterangepicker-master/daterangepicker.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/js/main.js}"></script>
<!-- ========================================================================= -->
<script th:src="@{/js/style-picker.js}"></script>
<!-- ========================================================================= -->
<script>
    'use strict'
    $(document).ready(function () {

    });

    function userRegist() {
        var userName = $('#inputUserName').val();
        var inputPwd = $('#inputPassword').val();
        var checkStatus = $('#customCheck1').is(':checked');
        var usrNameRule = new RegExp(/^[0-9A-Za-z]{4,8}$/);
        var passWordRule = new RegExp(/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,8}$/);
        //1.走ajax 判断用户名是否存在
        var userNameState = false;
        $.ajax({
            type: "post",
            url: '/checkUserName',
            async: false,
            data: {
                userName: userName
            },
            success: function (state) {
                console.log(state);
                userNameState = state;
                console.log("state:"+state);
                console.log("userNameState:"+userNameState);
            }
        });
        console.log(userNameState);
        if (usrNameRule.test(userName) === false) {
            $('#userNameModal').modal('show');
            return false;
        } else if (passWordRule.test(inputPwd) === false) {
            $('#passWordModal').modal('show');
            return false;
        }else if (checkStatus === false) {
            $('#agreeProtocolModal').modal('show');
            return false;
        } else if(userNameState === false) {
            $('#checkUserName').modal('show');
        }else {
            document.getElementById("registForm").submit();
            jquery: $("#registForm").submit();
        }
    }
</script>
<!-- ========================================================================= -->
</body>


</html>
