<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoooum.dao.OperationDao">


    <!-- 查询每个小时注册的人数-->
    <select id="queryRegistByHour" resultType="com.yoooum.entity.operation.RegistByHour">
        SELECT HOUR(FROM_UNIXTIME(p.eventTime)) AS hourNum,
        COUNT(*) AS peopleNum,
        platformId AS platformId
        FROM ${tbName} AS p
        WHERE p.eventTime &gt;= #{begTime}
        AND p.eventTime &lt;= #{endTime}
        <if test="platformId != null and platformId != 0">
            and platformId=#{platformId}
        </if>
        GROUP BY HOUR(FROM_UNIXTIME(p.eventTime))
    </select>
    <!-- 查询迷你币总增量 -->
    <select id="queryMiNiCharge" resultType="com.yoooum.entity.operation.MiNiTwos">
        SELECT  ireason as reason,
               IFNULL(sum(ichangecount),0) as sum
        from ${tbName}
        where 1=1
        <if test="type==1">
            AND ichangecount&gt;0
        </if>
        <if test="type==2">
            AND ichangecount&lt;0
        </if>
        <if test="platformId != null and platformId != 0">
            AND platformId=#{platformId}
        </if>
        group by ireason
    </select>

    <!-- 钻石产出或消耗 -->
    <select id="queryDiamondCharge" resultType="com.yoooum.entity.operation.DiamodTwos">
        SELECT  reason,
        COUNT(DISTINCT uin) AS playNum,
        IFNULL(SUM(changeCount),0) AS sum
        FROM  ${tbName}
        WHERE itemID = 2
        <if test="type==1">
            AND changeCount&gt;0
        </if>
        <if test="type==2">
            AND changeCount&lt;0
        </if>
        <if test="platformId != null and platformId != 0">
            AND platformId=#{platformId}
        </if>
        GROUP BY reason
    </select>
    <!-- 钻石存量  -->
    <select id="queryDiamondAfterCount" resultType="int">
        SELECT IFNULL(SUM(iaftercount),0)
        FROM (
            SELECT uin,iaftercount
            FROM(
                SELECT uin,iaftercount,dtEventTime
                FROM ${tbName}
                WHERE 1 = 1
                <if test="platformId != null and platformId != 0">
                    AND platformId=#{platformId}
                </if>
                ORDER BY dtEventTime DESC)AS t
            GROUP BY uin)AS q
    </select>

    <!-- 金币产出或消耗 -->
    <select id="coinChange" resultType="com.yoooum.entity.operation.CoinTwos">
        SELECT
        SUM( changeCount ) AS coin,
        COUNT(DISTINCT uin) AS avgCoin
        FROM
        ${tableName}
        WHERE  itemID = 1
        <if test="platformId != null and platformId != 0">
            AND platformId=#{platformId}
        </if>
        GROUP BY (changeCount>0)
    </select>

    <!-- 玩家自行产生金币途径 -->
    <select id="userCoinPathway" resultType="com.yoooum.entity.operation.CoinTwos">
        SELECT reason as coin,
        IFNULL(SUM(changeCount),0) as avgCoin
        FROM ${tableName}
        WHERE  changeCount&gt;0
        <if test="platformId != null and platformId != 0">
            AND platformId=#{platformId}
        </if>
        GROUP BY reason
    </select>
</mapper>